<p>
    <h2 class="text-center" style="border-bottom: 1px solid black;">
        Lista de Cursos
    </h2>

    <div class="container">
        <!-- inicio row medicina-->
        <div class="row">
            <div class="col-12">
                <div>
                    <h3 id="curso" class="curso">Medicina</h3>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                        <img src="assets/img/04_medicina.jpg">
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                        O curso de Medicina, tem como missão a formação do profissional médico fundamentada em avançados conceitos
                        metodológicos de ensino-aprendizagem e, ao mesmo tempo, possibilita ao aluno, já nos primeiros anos do curso,
                        experiências que vão desde a formação generalista da assistência e da prevenção em saúde, aos mais modernos
                        procedimentos da simulação realística, em virtude, principalmente, da rede de hospitais próprios e conveniados. Com
                        base e, para além das Diretrizes Nacionais do MEC, o curso prepara o formando para a aquisição do conhecimento
                        técnico-científico, mas, sobretudo, para o desenvolvimento dos princípios éticos e humanos como pré-requisito para
                        atuação conjunta com todos os profissionais da área da saúde, visando a assistência integral do paciente.
                    
                    </div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        <!-- fim row mediciana-->

        
        <div class="row">
            <div class="col-12">
                <div>
                    <h3 id="curso" class="curso">Enfermagem</h3>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                        <img src="assets/img/01_enf.jpg">
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                        O curso de graduação em Enfermagem, preocupa-se com a formação de um enfermeiro diagnosticador, inovador e crítico
    sobre sua atuação e o cenário de saúde da população. Prepara o profissional, para as tendências do mercado na
    prevenção e promoção da saúde na educação de vida saudável, na inserção do modelo do Sistema Único de Saúde e na
    assistência integral. Em conformidade com a OMS prepara o aluno com foco na segurança do paciente e gestão de riscos, bem como para as
    certificações de qualidade como a ONA (Organização Nacional de Acreditação) e a JCI (Joint Comission International
                    
                    </div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        

         
         <div class="row">
            <div class="col-12">
                <div>
                    <h3 id="curso" class="curso">Farmacia</h3>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                        <img src="assets/img/02_farmacia.jpg">
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                        A proposta pedagógica busca garantir um ensino de excelência. Com o eixo principal de formação acadêmica voltada ao
                        exercício profissional na área de fármacos e medicamentos, também desenvolve, por meio de seu projeto pedagógico,
                        competências e habilidades relacionadas com as outras áreas do âmbito profissional, sobretudo nas análises clínicas
                        e toxicológicas e de alimentos.
                    
                    </div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        

          
           <div class="row">
            <div class="col-12">
                <div>
                    <h3 id="curso" class="curso">Biomedicina</h3>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                        <img src="assets/img/03_biomedicina.jpg">
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                        A carreira de Biomedicina é muito ampla e proporciona uma extensa gama de áreas de atuação. Atendendo às
                        necessidades do mercado de trabalho atual, o curso de Biomedicina é moderno e se propõe a ensinar habilidades
                        essenciais para que o aluno possa se inserir em diferentes áreas profissionais, como pesquisa, docência, análises
                        clínicas, diagnóstico por imagem, reprodução humana, banco de sangue, entre outras. Neste sentido o curso é
                        generalista e, ao invés de focar o ensino em apenas poucas habilitações do Biomédico, investe na formação de
                        profissionais com extremo senso crítico, alta capacidade técnica e visão integrada dos processos biológicos e
                        laboratoriais.
                    
                    </div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        

        
         <div class="row">
            <div class="col-12">
                <div>
                    <h3 id="curso" class="curso">Psicologia</h3>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                        <img src="assets/img/05_psicologia.jpg">
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                        A Psicologia forma profissionais que atuam na promoção da saúde e do bem-estar psicossocial, promovendo o
    desenvolvimento e a manutenção da integridade psicológica, desfrutando plenamente dos direitos sociais. É uma
    formação generalista, que contempla as competências necessárias no amplo leque das possibilidades profissionais na
    Psicologia: Clinica na Saúde, atuação na área social em Educação, Esportes, Cultura, Jurídica e no RH de Empresas,
    entre outras áreas.
                    </div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        

    </div>                                                      