
<p>
    <h2 class="text-center" style="border-bottom: 1px solid black;">
        Lista de Professores
    </h2>

    <div class="container">
      
        <!-- inicio row medicina-->
        <div class="row">
            <div class="col-12">
                <div>
                    <h5 id="curso" class="curso text-primary">Dr Ranieri Oliveira</h5>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-2 font-weight-bold">Titulo:</div>
                    <div class="">Mestre</div>
                </div>
                <div class="row">
                    <div class="col-2 font-weight-bold">Docente desde:</div>
                    <div class="">10/10/12</div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        <!-- fim row mediciana-->


          <!-- inicio row medicina-->
          <div class="row">
            <div class="col-12">
                <div>
                    <h5 id="curso" class="curso text-primary">Dra Eloiza Ysohida</h5>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-2 font-weight-bold">Titulo:</div>
                    <div class="">Doutorado</div>
                </div>
                <div class="row">
                    <div class="col-2 font-weight-bold">Docente desde:</div>
                    <div class="">10/08/10</div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        <!-- fim row mediciana-->
          <!-- inicio row medicina-->
          <div class="row">
            <div class="col-12">
                <div>
                    <h5 id="curso" class="curso text-primary">Dr Gustavo Ramalho</h5>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-2 font-weight-bold">Titulo:</div>
                    <div class="">Doutorado</div>
                </div>
                <div class="row">
                    <div class="col-2 font-weight-bold">Docente desde:</div>
                    <div class="">18/06/08</div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        <!-- fim row mediciana-->
          <!-- inicio row medicina-->
          <div class="row">
            <div class="col-12">
                <div>
                    <h5 id="curso" class="curso text-primary">Prof Dilma Estoque</h5>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-2 font-weight-bold">Titulo:</div>
                    <div class="">Mestre</div>
                </div>
                <div class="row">
                    <div class="col-2 font-weight-bold">Docente desde:</div>
                    <div class="">27/11/15</div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        <!-- fim row mediciana-->
          <!-- inicio row medicina-->
          <div class="row">
            <div class="col-12">
                <div>
                    <h5 id="curso" class="curso text-primary">Dr Bolsonaro Inacio</h5>
                </div>
                
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-2 font-weight-bold">Titulo:</div>
                    <div class="">Doutorado</div>
                </div>
                <div class="row">
                    <div class="col-2 font-weight-bold">Docente desde:</div>
                    <div class="">05/03/11</div>
                </div>        
            </div>
            <div class="col">
                <hr>
            </div>
        </div>
        <!-- fim row mediciana-->





        

    </div>                                                      