<!DOCTYPE html>
<html>
<header>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>
        aula01 Igor/Bossini
    </title>
    <style>
 
        
    </style>
</header>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Centro Universitario BioPlus
      </a>
    </nav>
    <app-lista-curso></app-lista-curso>
  <app-lista-professores></app-lista-professores>
  
    


   <br>
   <br>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h5 class="text-white ">Fique conectado!</h5>


            <p  class="text-white ">Centro Universitario BioPlus<br>
                <a href="BioPlus@example.com">BioPLus@CentroUni.com</a>
            <p  class="text-white ">Contato:(11) 2799-1677
                
                
    </nav>
</body>

</html>